@mixin unHeaderText() {
    font-size: unset;
    width: unset;
    height: unset;
    text-align: unset;

    &:hover {
        text-decoration: unset;
        text-underline-offset: unset;
    }

    &:focus {
        outline: solid 0.1px #262626;
        outline-style: dashed;
    }
}


@media screen and (max-width:1400px) {
    .rightBlock span:not(.nav) {
        display: none;
    }

    .whiteBlock .primaryArea .bannerF>ul li .textBlock h1 {
        font-size: 24px;
    }

}

@media screen and (max-width:1085px) {

    .headerBlock {
        margin: 0 2.5%;

        .header {

            .searchClick {
                right: 12.5vw;
            }

            .cancel {
                top: 1.4%;
                left: 92vw;
            }

        }
    }


    .whiteBlock {

        .primaryArea {

            .bannerF {
                margin: 0;

                ul li:nth-child(1) .picture,
                ul li:nth-child(2) .picture {
                    height: 55vw;
                    background-size: 110% 100%;
                    background-position: 40% 40%;
                }
            }

            .productF {
                margin: 0 5%;

                ul {
                    flex-wrap: wrap;

                    li {
                        margin: 3% 2%;
                        width: 46%;
                    }

                    li:last-child {
                        margin: 3% 2%;
                    }
                }
            }

            .bannerB {
                margin: 0;

                ul li .picture {
                    height: 55vw;
                    background-size: 110% 100%;
                    background-position: 40% 40%;
                }
            }

            .productB {
                margin: 0 5%;
                padding-top: 50px;

                &::before {
                    content: "適用於商務";
                    font-size: 25px;
                    font-weight: 600;
                    position: static;
                    margin: 0 0 20px 20px;
                }

                ul {
                    flex-wrap: wrap;

                    li {
                        margin: 3% 2%;
                        width: 46%;
                    }

                    li:last-child {
                        margin: 3% 2%;
                    }
                }
            }

        }

        .follow {
            margin: 4.5% 5%;
        }
    }

    .grayBlock {

        .listBlock {
            margin: 0 2.5%;
            padding: 3% 0 1%;

            &>ul {
                flex-wrap: wrap;

                &>li {
                    width: calc(100% / 3);
                    margin-bottom: 30px;
                }
            }
        }

        .footer {
            margin: 0 2.5%;
        }
    }
}

@media screen and (max-width:910px) {

    .headerBlock {

        .header {

            .searchClick {
                top: 8px;
                right: calc(100vw - 85%);
                width: 35px;
                height: 45px;

                .searchInput {

                    top: 0vh;
                    right: -3vw;

                    input {
                        width: 70vw;
                    }

                    &::after {
                        content: "";
                        width: 100px;
                        background-image: url(../icon/search.png);
                        background-size: cover;
                        background-repeat: no-repeat;
                        display: block;
                        position: absolute;
                        top: 10px;
                        left: 1270px;
                        width: 18px;
                        height: 18px;
                        transform: rotate(90deg);
                    }
                }
            }

            .cancel {
                top: 1.5vh;
                left: 89vw;
            }

            &>nav {

                &>ul>li:nth-last-child(2),
                &>ul>li:nth-last-child(3) {
                    display: none;
                }

                ul {
                    &>li:last-child {
                        display: inline;
                    }
                }
            }
        }
    }
}

@media screen and (min-width:860px) and (max-width:870px) {

    .headerBlock {

        .header {

            .searchClick {
                right: 17vw;

                .searchInput {

                    top: 0.1vh;
                    left: -60vw;

                    input {
                        width: 65vw;

                        &::after {
                            content: "";
                            width: 100px;
                            background-image: url(../icon/search.png);
                            background-size: cover;
                            background-repeat: no-repeat;
                            display: block;
                            position: absolute;
                            top: 10px;
                            left: 1270px;
                            width: 18px;
                            height: 18px;
                            transform: rotate(90deg);
                        }
                    }
                }
            }

            .cancel {
                top: 1.8vh;
                right: -30vw;
            }

            &>nav {

                &>ul>li:nth-last-child(4) {
                    display: none;
                }
            }
        }
    }
}

@media screen and (min-width:0px) and (max-width:860px) {

    .headerBlock {

        .header {
            position: relative;
            height: 49px;

            .logo {
                position: absolute;
                left: 50%;
                transform: translate(-50%, 0);
            }

            nav {
                display: none;
            }

            .searchClick {
                left: max(8.5vw, 60px);
                height: 36px;
                // border: red 1px solid;

                &:focus-within~.logo {
                    display: none;
                }

                .searchInput {
                    right: unset;
                    left: -5.5vw;
                    top: -0.5vh;

                    input {
                        width: 87vw;
                        height: 4vh;
                    }
                }
            }

            .cancel {
                left: -3vw;
                top: 0.2vh;
                z-index: 2;
                width: 5.5vh;
                height: 5.5vh;
                background-image: url(../icon/left-arrow.png);
                background-repeat: no-repeat;
                background-size: 17.5px 20px;
                background-position: 47.5% 47.5%;
                border: none;

                span {
                    display: none;
                }
            }

            .rightBlock {
                float: none;
                width: 100vw;

                .menu {
                    display: block;

                    &>nav {
                        float: left;

                        &>button {
                            width: 48px;
                            height: 48px;
                            background-image: url(../icon/menu.png);
                            background-size: 20px 20px;
                            background-position: 47.5% 50%;
                            background-repeat: no-repeat;

                            &:focus {
                                background-image: url(../icon/cancel.png);
                                background-color: transparent;
                            }

                            span {
                                display: none;
                            }

                            .Tcancel {
                                width: 48px;
                                height: 48px;
                            }

                            .anchor {
                                width: 48px;
                                height: 48px;
                                margin: 0 -7px;

                                &>ul {
                                    left: -5vw;
                                    width: 99.5vw;
                                    display: flex;
                                    flex-direction: column;
                                    text-align: left;

                                    .leftNav {
                                        width: 100%;

                                        ul {

                                            li {

                                                a {
                                                    @include unHeaderText();
                                                    display: block;
                                                    text-align: left;
                                                    font-size: 15px;
                                                    width: auto;
                                                    font-family: 'Segoe UI', SegoeUI, 'Microsoft JhengHei', 微軟正黑體, "Helvetica Neue", Helvetica, Arial, sans-serif;
                                                    padding: 14px 24px 15px 15px;
                                                    height: auto;
                                                }
                                            }
                                        }
                                    }

                                    &>li:not(.leftNav) {
                                        color: black;
                                        width: 100%;
                                        padding: 0;

                                        &::before {
                                            content: "";
                                            display: none;
                                        }

                                        &>label {
                                            width: auto;

                                            span {
                                                display: block;
                                                font-weight: normal;
                                                text-align: left;
                                                font-size: 15px;
                                                width: auto;
                                                font-family: 'Segoe UI', SegoeUI, 'Microsoft JhengHei', 微軟正黑體, "Helvetica Neue", Helvetica, Arial, sans-serif;
                                                padding: 14px 24px 15px 15px;
                                                height: auto;

                                                &:focus-within {
                                                    outline: solid 0.1px #262626;
                                                    outline-style: dashed;
                                                }

                                                &::after {
                                                    content: "";
                                                    background-image: url(../icon/arrow-down.png);
                                                    background-size: cover;
                                                    background-repeat: no-repeat;
                                                    display: block;
                                                    width: 12px;
                                                    height: 12px;
                                                    position: relative;
                                                    top: 3px;
                                                    float: right;
                                                }
                                            }
                                        }

                                        input:checked~ul {
                                            display: block;
                                        }
                                    }

                                    li:not(.leftNav) {
                                        &>ul {
                                            padding: 1px 0 0 30px;

                                            &>li {

                                                &>a {
                                                    display: block;
                                                    padding: 14px 15px 15px 15px;
                                                    @include unHeaderText();
                                                    font-size: 15px;
                                                    width: 100%;
                                                    height: 100%;
                                                }
                                            }
                                        }

                                    }

                                    &>li:nth-child(1) {
                                        display: block;
                                    }

                                    &>li:not(.leftNav) {

                                        ul {
                                            display: none;
                                        }
                                    }

                                    &>li:nth-child(8) {
                                        color: black;
                                        width: 100%;
                                        background-color: #f2f2f2;
                                        display: block;

                                        a {
                                            @include unHeaderText();
                                            display: block;
                                            text-align: left;
                                            font-size: 15px;
                                            width: auto;
                                            font-family: 'Segoe UI', SegoeUI, 'Microsoft JhengHei', 微軟正黑體, "Helvetica Neue", Helvetica, Arial, sans-serif;
                                            padding: 14px 24px 15px 15px;
                                            margin: 0;
                                        }

                                        a::after {
                                            content: "";
                                            display: none;
                                        }
                                    }
                                }
                            }

                            &::after {
                                display: none;
                            }

                        }
                    }

                    .search {
                        float: left;

                        button {
                            &::after {
                                left: -10px;
                                top: 4.5px;
                            }
                        }
                    }

                    .shoppingCar {
                        float: left;
                        margin-left: 52.5vw;

                        &::after {
                            left: -5px;
                            top: 2px;
                        }
                    }

                    .login {
                        float: right;

                        &::after {
                            left: -5px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:770px) {

    .whiteBlock {
        .primaryArea {

            .bannerF {

                ul {

                    li:nth-child(1),
                    li:nth-child(2) {

                        .picture {
                            height: calc(6vh + 46vw);

                        }

                        .textBlock {
                            align-items: center;
                            display: flex;
                            justify-content: center;
                            position: static;
                            width: auto;
                            height: 320px;
                            background-color: #e6e6e6e6;

                            p {
                                margin: 2.5vw 5vw 5vw 5vw;
                            }
                        }
                    }
                }
            }

            .bannerFAfter {
                margin: 0 5%;

                ul {
                    flex-direction: column;
                    align-items: flex-start;
                    // justify-content: flex-start;

                    li {
                        a {
                            margin: 15px;
                            flex-direction: row;
                            justify-content: flex-start;
                            height: 20px;

                            img {
                                width: 20px;
                                height: 20px;
                                margin-right: 5px;
                            }

                            span {
                                width: auto;
                            }
                        }
                    }
                }
            }


            .bannerB {

                ul {

                    li:nth-child(1),
                    li:nth-child(2) {

                        .picture {
                            height: calc(6vh + 46vw);

                        }

                        .textBlock {
                            align-items: center;
                            display: flex;
                            justify-content: center;
                            position: static;
                            width: auto;
                            height: 320px;
                            background-color: #e6e6e6e6;

                            p {
                                margin: 2.5vw 5vw 5vw 5vw;
                            }
                        }
                    }
                }
            }

        }
    }

    .grayBlock {

        .footer {
            flex-direction: column;
            align-items: flex-start;
            flex-wrap: wrap;

            &>span {
                display: block;
                margin: 0;
                white-space:nowrap;
            }

            div {
                &>span {
                    white-space: nowrap;
                    margin: 0 5px;
                }
            }
        }
    }
}

@media screen and (max-width:530px) {

    .whiteBlock {

        .primaryArea {

            .productF,
            .productB {

                ul {

                    li {
                        width: 100%;
                    }
                }
            }
        }
    }

    .grayBlock {

        .listBlock {

            ul {
                li {
                    width: 100%;
                    margin-top: 5%;
                }
            }
        }

        .footer {

            &>div {
                position: relative;

                &::after {
                    margin-left: 10px;
                }
            }
        }
    }
}